service: stripe-graphql-api

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-southeast-2
  versionFunctions: false # Disable versioning for Lambda functions
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "s3:ListBucket"
            - "s3:GetObject"
            - "s3:PutObject"
            - "s3:DeleteObject"
            - "dynamodb:PutItem"
            - "dynamodb:UpdateItem"
            - "dynamodb:DeleteItem"
            - "dynamodb:GetItem"
            - "dynamodb:Query"
            - "dynamodb:Scan"
            - "dynamodb:BatchGetItem"
            - "dynamodb:BatchWriteItem"
            - "cognito-idp:AdminCreateUser"
            - "cognito-idp:AdminAddUserToGroup"
            - "cognito-idp:AdminRemoveUserFromGroup"
            - "cognito-idp:AdminUpdateUserAttributes"
            - "cognito-idp:AdminGetUser"
          Resource: "*"
plugins:
  - serverless-webpack
  - serverless-dynamodb
  - serverless-appsync-plugin
  - serverless-offline
  - serverless-appsync-simulator

useDotenv: true
package:
  individually: true

functions:
  query-fn:
    handler: functions/query.handler
    environment:
      IS_OFFLINE: ${env:IS_OFFLINE, 'false'}
      USERS_TABLE: ${self:service}-users-${sls:stage}
      SUBSCRIPTIONS_TABLE: ${self:service}-subscriptions-${sls:stage}
      ORDERS_TABLE: ${self:service}-orders-${sls:stage}
      PRODUCTS_TABLE: ${self:service}-products-${sls:stage}
      PAYMENTS_TABLE: ${self:service}-payments-${sls:stage}
  mutation-fn:
    handler: functions/mutation.handler
    environment:
      IS_OFFLINE: ${env:IS_OFFLINE, 'false'}
      STRIPE_SECRET_KEY: ${env:STRIPE_SECRET_KEY}
      USERS_TABLE: ${self:service}-users-${sls:stage}
      SUBSCRIPTIONS_TABLE: ${self:service}-subscriptions-${sls:stage}
      ORDERS_TABLE: ${self:service}-orders-${sls:stage}
      PRODUCTS_TABLE: ${self:service}-products-${sls:stage}
      PAYMENTS_TABLE: ${self:service}-payments-${sls:stage}

custom:
  appsync-simulator:
    apiKey: da2-fakeApiId123456
    watch:
      - functions/**/*.ts
      - schema.graphql
    location: .webpack/service

  serverless-offline:
    httpPort: 3002
    lambdaPort: 3003
    websocketPort: 3004

  dynamodb:
    # If you only want to use DynamoDB Local in some stages, declare them here
    stages:
      - dev
    start:
      port: 8000
      heapInitial: 200m
      heapMax: 1g
      migrate: false # Disabled - use manual table creation script instead
      seed: false
      convertEmptyValues: true
      noStart: true # We start DynamoDB via docker-compose

  appSync:
    name: AppSyncStripe
    schema: schema.graphql
    authenticationType: AMAZON_COGNITO_USER_POOLS
    userPoolConfig:
      defaultAction: ALLOW
      userPoolId: !Ref CognitoUserPool
    mappingTemplatesLocation: mapping-templates

    mappingTemplates:
      # Mutation resolvers
      - dataSource: LambdaMutationDS
        type: Mutation
        field: planSubscriptionCreate
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: createUser
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: createSubscription
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: updateSubscription
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: deleteSubscription
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: createOrder
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: updateOrderStatus
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: createProduct
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: updateProduct
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: deleteProduct
        request: false
        response: false
      - dataSource: LambdaMutationDS
        type: Mutation
        field: createPayment
        request: false
        response: false

      # Query resolvers
      - dataSource: LambdaQueryDS
        type: Query
        field: users
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getSubscription
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: listSubscriptions
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getSubscriptionsByUser
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getOrder
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: listOrders
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getOrdersByCustomer
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getProduct
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: listProducts
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getProductsByCategory
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getLowStockProducts
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getPayment
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getPaymentsByOrder
        request: false
        response: false
      - dataSource: LambdaQueryDS
        type: Query
        field: getFailedPayments
        request: false
        response: false

    dataSources:
      - type: AWS_LAMBDA
        name: LambdaQueryDS
        config:
          functionName: query-fn
      - type: AWS_LAMBDA
        name: LambdaMutationDS
        config:
          functionName: mutation-fn

resources: # CloudFormation template syntax
  - ${file(./resources.yml)}
